#main-landing {
  display: flex;
  flex-direction: row;
}
#profile {
  position: relative;
  background: color #1a1a1d;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url(../../blob-scene.svg);
}
#profile-heading {
  color: #eeeeee;
  font-size: 6vw;
  margin: 0px;
}
#profile-heading::before {
  content: "";
  background-color: #c3073f;
  width: 10vw;
  height: 1px;
  position: relative;
  top: 0px;
  left: 0px;
}
#profile-about {
  width: 60%;
  text-align: center;
  color: #606061;
}
#bg-landing-profile {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.punctuation {
  color: rgb(243, 168, 93);
}
.keyword {
  color: rgb(60, 93, 140);
  font-weight: bold;
}
.string {
  color: rgb(177, 148, 184);
}
.variable {
  color: rgb(224, 224, 224);
}
.number {
  color: chartreuse;
}
.component {
  color: rgb(163, 155, 71);
}
.comment {
  color: #606061;
}
.method {
  color: #bb033a;
}
