#left-side-bar {
  /* position: absolute; */
  width: 48.5vw;
  height: 100vh;
  background-color: rgb(29, 29, 29);
  border-right: 1px solid white;
}
#right-side-bar {
  width: 48.5vw;
  height: 100vh;
  background-color: #222225;
  overflow: scroll;
  /* border-left: 1px solid white; */
}
