#left-side-bar {
  /* position: absolute; */
  width: 48.5vw;
  height: 100vh;
  background-color: rgb(29, 29, 29);
}
#right-side-bar {
  width: 48.5vw;
  height: 100vh;
  background-color: rgb(0, 0, 0);
}
